.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container .title {
  width: 6.5rem;
  text-align: center;
}

.app-container .subtitle {
  width: 20rem;
  text-align: center;
}

.app-container .get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 1rem;
  background: #2ea44f;
  color: white;
  outline: 0;
  border: 1px solid lightblue;
  margin-bottom: 1rem;
}

.get-started-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: black 0.25rem 0.25rem 1rem;
  width: 50%;
}

.stage-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-progress-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  visibility: hidden;
  height: 0px;
}

.email-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
}

.email-form label {
  margin-bottom: 1rem;
}

.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
  border-radius: 1rem;
  margin-bottom: 2.2rem;
}
.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 36px;
  margin-left: -36px;
}

.arrow-box-text {
  color: #ddf8c6;
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
